<template name="insertVoteForm">
	<section>
		<div class="container">
			<div class="row">
			{{#if isInRole 'admin,moderator'}}
				<div class="col s12 m4 l3">
						<a href="{{pathFor 'voteList'}}" class="waves-effect waves-light btn btnBackList light-blue"><i class="fa fa-arrow-left"></i> Назад к списку</a>
				</div>
				<div class="col s12 m6 l6 center-align">
					<div class="card-panel">
						<h4 class="header2">Добавить голос</h4>
						<div class="row">
							{{> quickForm collection="Votes" buttonContent="Проголосовать" id="insertVoteForm" type="insert" buttonClasses="waves-effect waves-light btn orange accent-4"}}
						</div>
					</div>
				</div>
			{{else}}
				<div class="col s12 m6 l4 offset-m3 offset-l4 center-align">
					<div class="card-panel">
						<h4 class="header2">Добавить голос</h4>
						<div class="row">
							{{> quickForm collection="Votes" buttonContent="Проголосовать" id="insertVoteForm" type="insert" buttonClasses="waves-effect waves-light btn orange accent-4"}}
						</div>
					</div>
				</div>
			{{/if}}
			</div>
		</div>
	</section>
</template>

<template name="voteList">
	<section>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12 center-align">
					<h4 class="orange-text text-accent-4">Таблица голосов</h4>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m2 l2 valign-wrapper"><h6 class="valign count"> Всего голосов: {{voteCount}}</h6></div>
				<div class="col s12 m4 l4">
					<a href="{{pathFor 'insertVoteForm'}}" class="waves-effect waves-light btn green">Добавить голос</a>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12 l12">
					{{> reactiveTable settings=settings}}
				</div>
			</div>
		</div>
	</section>
</template>

<template name="updateVoteForm">
	<section>
		<div class="container">
			<div class="row">
				<div class="col s12 m4 l3">
					<a href="{{pathFor 'voteList'}}" class="waves-effect waves-light btn btnBackList light-blue"><i class="fa fa-arrow-left"></i> Назад к списку</a>
				</div>
				<div class="col s12 m6 l6 center-align">
					<div class="card-panel">
						<h4 class="header2">Изменить голос</h4>
						<div class="row">
					<!-- {{#if isInRole 'admin,moderator'}} -->
							{{> quickForm collection="Votes" buttonContent="Изменить" doc=this id="updateVoteForm" type="update"}}
					<!-- {{/if}} -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>