<template name="vote_layout">
	<head>
		<title>Опрос интернета в Сургуте!</title>
		<meta charset="UTF-8"/>
		<!--Let browser know website is optimized for mobile-->
		<!-- <meta name="viewport" content="width=700" /> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="Вам нужен интернет в Сургуте? Опрос интернета в Сургуте. Голосовать за интернет в Сургуте" />
		<meta name="keywords" content="опрос, Сургут, интернет, голос, голосование" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
	</head>
	<body>
		{{#if currentUser}}

			<!-- Drop Menu -->
			<ul id="dropdown1" class="dropdown-content">
				{{#if isInRole 'admin,moderator'}}
					<li><a href="{{pathFor 'insertVoteForm'}}" class="orange-text text-accent-4">Голосование</a></li>
				{{else}}
					{{#if voteTrue}}
						<li><a href="{{pathFor 'insertVoteForm'}}" class="orange-text text-accent-4">Голосование</a></li>
					{{/if}}
				{{/if}}
				<li><a href="{{pathFor 'voteResult'}}" class="orange-text text-accent-4">Графики голосования</a></li>
				{{#if isInRole 'admin'}}
					<li><a href="{{pathFor 'voteList'}}" class="orange-text text-accent-4">Таблица голосования </a></li>
					<li><a href="{{pathFor 'userList'}}" class="orange-text text-accent-4">Таблица пользователей </a></li>
					<li><a href="{{pathFor 'userStatus'}}" class="orange-text text-accent-4">Пользователи онлайн</a></li>
				{{/if}}
				{{#if isInRole 'moderator'}}
					<li><a href="{{pathFor 'voteList'}}" class="orange-text text-accent-4">Таблица голосования </a></li>
				{{/if}}
			</ul>
			<!-- End drop menu -->

			<!-- Nav bar -->
			<nav class="navBar">
				<div class="nav-wrapper">
					<a href="#" data-activates="mobile-demo" class="button-collapse white-text"><i class="fa fa-list" id="mobileMenu"></i></a>

					<!-- Right Menu -->
					<ul class="right hide-on-med-and-down">
						<li id="dropButton"><a class="dropdown-button" href="#!" data-activates="dropdown1">Меню<i id="caretDown" class="fa fa-caret-down left"></i></a></li>
					</ul>
					<!-- End Menu -->

					<!-- Mobile -->
					<ul class="side-nav yellow lighten-3" id="mobile-demo">
						<div class="center-align"><span class="black-text">{{ userEmail }}</span></div>
						<div>{{> atNavButton }}</div>
						<div><a href="{{pathFor 'changePwd'}}" class="waves-effect waves-light btn light-blue">Сменить пароль</a></div>
						{{#if isInRole 'admin,moderator'}}
							<li><a href="{{pathFor 'insertVoteForm'}}" class="black-text">Голосование</a></li>
						{{else}}
							{{#if voteTrue}}
								<li><a href="{{pathFor 'insertVoteForm'}}" class="black-text">Голосование</a></li>
							{{/if}}
						{{/if}}
						<li><a href="{{pathFor 'voteResult'}}" class="black-text">Графики голосования</a></li>
						{{#if isInRole 'admin'}}
							<li><a href="{{pathFor 'voteList'}}" class="black-text">Таблица голосования </a></li>
							<li><a href="{{pathFor 'userList'}}" class="black-text">Таблица пользователей </a></li>
							<li><a href="{{pathFor 'userStatus'}}" class="black-text">Пользователи онлайн</a></li>
						{{/if}}
						{{#if isInRole 'moderator'}}
							<li><a href="{{pathFor 'voteList'}}" class="black-text">Таблица голосования </a></li>
						{{/if}}
					</ul>
					 <!-- End Mobile -->

					<!-- Left Menu -->
					<ul class="left hide-on-med-and-down">
						<li id="navButton">{{> atNavButton }}</li>
						<li id="changePwd"><a href="{{pathFor 'changePwd'}}" class="waves-effect waves-light btn light-blue">Сменить пароль</a></li>
						<li id="userEmail">{{ userEmail }}</li>
					</ul>
					<!-- End Menu -->
				</div>
			</nav>
			<!-- End nav bar -->

		{{/if}}
		<div class="vote-layout">
			{{> yield}}
		</div>

		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter32845750 = new Ya.Metrika({
							id:32845750,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true,
							webvisor:true
						});
					} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/32845750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
		
	</body>
</template>