<template name="main">
	
	<!-- Main title -->
	<div class="container mainPage">

		<!-- You need a home Internet? -->
		<div class="row">
			<div class="col s12">
				<h1 class="center-align tit">Вам нужен домашний интернет?</h1>
			</div>
		</div>
		<!-- End you need a home Internet? -->

		<!-- House image -->
		<div class="row">
			<div class="col s12 center-align">
				<img class="max-img" id="house" src="/images/house.png">
			</div>
		</div>
		<!-- End house image -->

		<!-- Vote button -->
		<div class="row">
			<div class="col s12 center-align">
				<a href="/signUp" class="waves-effect btn-large white-text orange accent-4 btn1">Проголосовать <span class="za">ЗА </span><i class="fa fa-check-square-o"></i></a>
			</div>
		</div>
		<!-- End vote button -->

		<div class="row">
			<!-- A fast and stable Internet! -->	
			<div class="col s12 m4 center-align">
				<img class="max-img" id="cpu" src="/images/cpu.png">
				<p class="center-align inet">
					Быстрый и стабильный интернет!
				</p>
			</div>
			<!-- End a fast and stable Internet -->

			<!-- Many vote -->
			<div class="col s12 m4 offset-m4">
				<img class="max-img" id="pointer" src="/images/pointer.png">
				<p class="center-align opis">
					Чем больше людей проголосует, тем больше шансов что интернет появиться!
				</p>
			</div>
			<!-- End many vote -->

		</div>

		<!-- All vote -->
		<div class="row">
			<div class="col s12">
				<p class="vsego black-text center-align">Всего проголосовало <span class="kol orange-text text-accent-4">{{voteCount}}</span> человек!</p>
			</div>
		</div>
		<!-- End all vote -->

		<!-- Create by -->
		<div class="row">
			<div class="col s12 right-align">
				<span class="copyright">Create by maddesire.net</span>
			</div>
		</div>
		<!-- End create by -->

	</div>

</template>